body{
    background-image: url(../images/starscape.jpg);
    background-size: cover;
    text-align: center;
    height: 100%;
    overflow: hidden;
}

/* style for reset button*/
.btn{
    background-color: whitesmoke;
    color: black;
    height: 5vw;
    width: 20vw;
    font-size: 2.5vw;
}

#guesses {
    color: whitesmoke;
    font-size: 2.5vw;
}

#random-word{
    font-size: 4vw;
    color: whitesmoke;
    
}
.btn-primary{
    height: 6vw;
    width: 6vw;
    margin: 3px;
    color: black;
    border-radius: 40%;
    font-size: 4vw;
    padding: 0;
    text-align: center;
}
#keyboard {
    width: 70vw;
    margin: 10px 15vw;
    color: whitesmoke;
    font-size: 2.5vw;
}
#game-title{
    font-size: 13vw;
    text-align: center;
    color: whitesmoke;
    margin: 10px 0;
    font-family: 'Permanent Marker', cursive;
}

#main-image{
    max-width: 60vw;
    margin: 0 20vw;
}

/* media query 768 px**/

@media screen and (min-width: 768px){

    #game-title {
        font-size: 6vw;
    }

    #main-image {
        max-width: 30vw;
        
    }

    #keyboard {
        width: 90vw;
        margin: 10px 5vw;
    }

    .btn-primary {
        height: 3vw;
        width: 3vw;
        font-size: 1.5vw;
    }

    .random-word {
        font-size: 2.5vw;
    }
}
